header {
    background: #01474a;
  }
  
  *{
    font-family:Poppins;
  }
  .admin-wrapper {
    display: flex;
    height: calc(100% - 66px);
    margin-left: auto;
    margin-right: auto ;
    width:95%;
    
  }

  .admin-content
  {
      border-radius: 1.5em;
  }
  .admin-wrapper .left-sidebar {
    flex: 2;
    height: 100%;
    /* background: #234a57; */
    /* background-color: #3498db; */
    /* color:#3498db !important; */
    /* background-color: #f0efed; */
    background-color: #f9fafb;
  }
  
  .admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    /* color: aliceblue; */
    /* color:white; */
  }
  
  .admin-wrapper .left-sidebar ul li a {
    padding: 18px;
    display: block;
    border-bottom: 1px solid #004044;
  }
  
  .admin-wrapper .left-sidebar ul li a:hover {
    background: #004044;
    
  }
  
  .admin-wrapper .admin-content {
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
    background-color: #3498db;
    /* background-color: white; */
  }
  .admin-content .page-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: Pacifico !important;
  }
  .admin-content .button-group
  {
      border-bottom: 4px solid transparent;
      padding: 0;
  }

  .active-tab
  {
      border-bottom: 4px solid white;
  }
  .content .side-headings
  {
      color: white;
  }
  .side-headings label
  {
      padding-bottom: 10px;
  }
  .text-in
  {
      border-color: #097aeb;
  }
  .content table{
      /* background-color: #3498db; */
      background-color: white;
      border-radius: 1em;
  }
  .content .page-title{
      color:white;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
  }
  
  
  th,
  td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
  }
  
  .edit {
    color: green;
  }
  
  .delete {
    color: red;
  }
  
  .publish {
    color: blue;
  }
  
  .edit:hover,
  .delete:hover,
  .publish:hover {
    text-decoration: underline;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  .white-btn
  {
      background-color: white;
      color: #3498db;
      font-weight: bold;
  }
  .white-btn:hover
  {
    cursor: pointer;
    background-color: white;
    color:#3498db !important;
    box-shadow:3px 3px 3px 3px #414040 !important;
}